# REQUIRED VALUES: (descriptions below)
# vpc-id
# app-image
#
#
# Environment stage e.g "development", "staging", "production"
#environment = ""

# ecs task execution role name is the name of the role which can execute tasks
# (defaults to "ecsTaskExecutionRole")
#ecs-task-execution-role-name = ""

# Fargate CPU 1vCPU = 1024 cpu units (defaults to 1024)
#fargate-cpu = ""

# Fargate Memory value is in MiB (defaults to 2048)
#fargate-memory = ""

# Health check path (defaults to "/")
#health-check-path = ""

# App count refers to the number of containers to run (defaults to 2)
#app-count = INT_VAL_HERE

# App port refers to the port exposed by the docker container
# (defaults to 3000)
#app-port = INT_VAL_HERE

# App image referts to the url where the docker image resides
# (REQUIRED Value)
#app-image = "FILL_IN"

# Product name is the name of what you are deploying
# (defaults to "terraform-ecs")
#product-name = ""

# AWS region to use. (defaults to "us-east-1")
#region = ""

# VPC ID to use (REQUIRED value)
#vpc-id = ""


