# Blacklist specific azs in which you would not like to use.
# E.g. ["use1-az1"] which is "us-east-1a"
# Default is [""]
#
#blacklisted_azs = [""]

# Cidr newbits are the additional bits to extend the prefix of the vpc for a subnet
# e.g. vpc 10.0.0.0/16 subnet with newbits value of 4 = 10.0.0.0/20
# Default is 4 specify this value as integer (no quotes)
#
#cidr_newbits = 4

# Environment stage e.g "development", "staging", "production"
# Default is "staging"
#
#environment = ""

# Product name is the name of what you are deploying
# Default is "terraform-vpc"
#
#product_name = ""

# AWS profile to use
# Defaults to "default"
#
#profile = ""

# AWS region to use
# Defaults to "us-east-1"
#
#region = ""

# VPC cidr block
# Defaults to 10.0.0.0/16
#
#vpc_cidr = ""
