# Blacklist specific azs in which you would not like to use.
# E.g. ["use1-az1"] which is "us-east-1a"
#blacklisted-azs = ""

# Cidr newbits are the additional bits to extend the prefix of the vpc for a subnet
# e.g. vpc 10.0.0.0/16 subnet with newbits value of 4 = 10.0.0.0/20
# specify this value as int (defaults to 4)
#cidr-newbits = 4

# Environment stage e.g "development", "staging", "production"
#environment = ""

# Product name is the name of what you are deploying
#product-name = ""

# AWS region to use. Defaults to "us-east-1"
#region = ""

# VPC cidr block. Defaults to 10.0.0.0/16
#vpc-cidr = ""
