# Blacklist specific azs in which you would not like to use.
# E.g. ["use1-az1"] which is "us-east-1"
#blacklisted-azs = ""

# Environment stage e.g "development", "staging", "production"
#environment = ""

# AWS region to use. Defaults to "us-east-1"
#region = ""

# VPC cidr block. Defaults to 10.0.0.0/16
#vpc-cidr = ""
